<header id="header" class="{{HEADER_CLASS}}">
    <a href="{{ROOT}}index.html" class="logo"><strong>Jono Jenkens</strong> <span>Portfolio</span></a>
    <nav><a href="#menu">Menu</a></nav>
</header>

<nav id="menu">
    <ul class="links">
        <li><a href="{{ROOT}}index.html">Home</a></li>
        <li><a href="{{ROOT}}projects/ar-visualization.html">HRELab</a></li>
        <li class="menu-group">
            <details>
                <summary>Games</summary>
                <ul>
                    <li><a href="{{ROOT}}projects/trash-pandamonium.html">Trash Pandamonium</a></li>
                    <li><a href="{{ROOT}}projects/co-efficient.html">Co-Efficient</a></li>
                    <li><a href="{{ROOT}}projects/skykeeper.html">Skykeeper</a></li>
                </ul>
            </details>
        </li>
    </ul>
    <ul class="actions stacked">
        <li><a href="{{ROOT}}resume.html" class="button primary fit">View Resume</a></li>
        <li><a href="mailto:jono@jenkens.us" class="button fit">Contact</a></li>
    </ul>
</nav>
